@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes equalizer {
  0%,
  100% {
    transform: scaleY(0.4);
  }
  50% {
    transform: scaleY(1);
  }
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(calc(-100% + 180px));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes circle1Path {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg); 
    width: 30vw;
    height: 30vw;
  }
  100% {
    transform: translate(-50%, -50%) translate(12vw, -25vh) scale(2.3) rotate(360deg);
    width: 100vw;
    height: 100vw;
  }
}

@keyframes circle2Path {
  0% {
    transform: translate(-50%, -50%) scale(0.95) rotate(0deg);
    width: 20vw;
    height: 20vw;
  }
  100% {
    transform: translate(-50%, -50%) translate(-32vw, -18vh) scale(2.5) rotate(-360deg);
    width: 80vw;
    height: 80vw;
  }
}

@keyframes circle3Path {
  0% {
    transform: translate(-50%, -50%) scale(0.9) rotate(0deg);
    width: 20vw;
    height: 20vw;
  }
  100% {
    transform: translate(-50%, -50%) translate(25vw, -42vh) scale(3.0) rotate(360deg);
    width: 120vw;
    height: 120vw;
  }
}

@keyframes fadeCircleIn-default {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeCircleIn-subtle {
  0% { opacity: 0; }
  100% { opacity: 0.5; }
}

@keyframes fadeCircleIn-minimal {
  0% { opacity: 0; }
  100% { opacity: 0.2; }
}

@keyframes eggBeat {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
}

@keyframes marquee-backforth {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(calc(-100% - 3em));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes spinDisc {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}